.main {
    margin: auto;
    min-width: 1355px;
    max-width: 1355px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.form-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0px;
    border-radius: 10px;
}

#left-card {
    padding: 20px;
    height: auto;
    grid-column: 1/2;
}

#left-card label,
#right-card label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #282828;
}


#right-card {
    padding: 20px;
    height: auto;
    grid-column: 2/3;
}

#left-card input,
#left-card select,
#right-card input,
#right-card select,
#right-card textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 4px 7px;
    margin-top: 3px;
    letter-spacing: 1px;
    color: rgb(69, 69, 69);
    overflow: hidden;
    outline: none !important;
    border: 1px solid rgb(177, 177, 177);
    outline: none;
    transition: .2s;
    font-size: 12px;
}

.select2-container {
    width: 100% !important;
    height: 25px !important;
    margin-bottom: 12px !important;
    outline: none !important;
}

.select2-container--default .select2-selection--single {
    /* width: 100%;
    margin-bottom: 12px;
    padding: 5px 8px;
    margin-top: 3px;
    letter-spacing: 1px;
    color: rgb(75, 75, 75);
    overflow: hidden;
    border: none;
    border-bottom: 1px solid gray;
    outline: none !important; */

    /* padding: 20px;
    border-radius: 20px;
    border: 1px solid #ddd;
    outline: none;
    transition: .2s; */
    margin-bottom: 100px;
}

span.select2-selection.select2-selection--single {
    border-radius: 0px;
    border: 1px solid rgb(177, 177, 177);
    /* border: none; */
    outline: none;
    transition: .2s;
    overflow: hidden;
    height: 40px;
    margin-bottom: 100px;
}

.select2.select2-container.select2-container--default {
    height: 40px;
    margin-bottom: 25px !important;
}

.select2-results__option.select2-results__message {
    font-size: 10px !important;
}

.select2-selection__rendered {

    border-radius: 8px;
    /* border: 1px solid #ddd; */
    outline: none;
    transition: .2s;
    padding: 5px;

}

.select2-results__options {
    border: 1px solid rgb(177, 177, 177) !important;
}

.select2-selection__arrow {
    height: 40px !important;
}

[type=search] {
    outline-offset: 0px;
    outline: none;
    -webkit-appearance: none;
    font-size: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: rgb(75, 75, 75) !important;
    font-size: 12px !important;
    line-height: normal;
    outline: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
}

.select2-container--focus .select2-selection--single {
    border-color: #760000;
}


#left-card select,
#right-card select {
    cursor: pointer;
}

#left-card select button {
    height: auto;
    width: auto;
    background: transparent;
}

#right-card textarea {
    height: auto;
    resize: none;
}

.profile-section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgb(127, 127, 127);
}

.profile-section h4 {
    margin-bottom: 10px;
    color: rgb(85, 85, 85);
}

#left-card button {
    margin-top: 10px;
    background: #760000;
    color: white;
    border: none;
    padding: 5px 15px;
    width: 100px;
    /* border-radius: 10px; */
    cursor: pointer;
    transition: .25s;
    font-weight: 500;
}

#left-card button:hover {
    background: #760000;
    transform: scale(.98);
}

.select2-selection .select2-selection--single {
    border: none !important;
    /* border-bottom: 1px solid rgb(69, 69, 69) !important; */
    border-radius: 0px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #303641 !important;
}

.select2-results__option--selectable {
    font-size: 10px !important;
}

.select2-dropdown.select2-dropdown--below {
      border: 1px solid rgb(177, 177, 177) !important;
}