@media (max-width: 1400px) {
    .mainAppoint {
        margin: auto;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
    }
/* 
    .mainCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background: white;
        padding: 10px;
    } */

    .mainCard table {
        width: 100%;
        height: 20px;
        border-collapse: collapse;
    }


    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
        text-align: left;
    }

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        text-align: left;
    }

    .mainCard table th:nth-child(6),
    .mainCard table td:nth-child(6) {
        width: 100%;
        min-width: 100px;
        max-width: 100px;
    }


    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        text-align: center;
    }



    .dt-paging-button {
        color: #303641;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 20%;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        font-size: 10px;
    }
}

@media (max-width: 1044px) {

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
        text-align: left;
    }

    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        text-align: center;
    }
}

@media (max-width: 1006px) {

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
        text-align: left;
    }
}

@media (max-width: 912px) {

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
        text-align: left;
    }
}

@media (max-width: 830px) {

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 12px !important;
    }

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
    }


    .mainCard table th:nth-child(2),
    .mainCard table td:nth-child(2) {
        display: none;
    }

    .mainCard table th:nth-child(5),
    .mainCard table td:nth-child(5) {
        display: none;
    }

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    .mainCard table th:nth-child(4),
    .mainCard table td:nth-child(4) {
        width: 70px;
        min-width: 70px;
        max-width: 70px;
    }

    .mainCard table th:nth-child(6),
    .mainCard table td:nth-child(6) {
        width: 130px;
        min-width: 130px;
        max-width: 130px;
    }

    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 10px;
    }
}

@media (max-width: 680px) {

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 11px !important;
    }

    .form-control.form-control-sm {
        height: 25px;
        padding: 0 5px;
        font-size: 10px;
        border-radius: 0px !important;
        border: 1px solid gray !important;
        outline: none;
        width: 100px;      
    }
}

@media (max-width: 640px) {

    .mainCard table th:nth-child(2),
    .mainCard table td:nth-child(2) {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        display: table-cell;
    }

    .mainCard table th:nth-child(6),
    .mainCard table td:nth-child(6) {
        display: none;
    }
}

@media (max-width: 590px) {

    .mainCard table th:nth-child(6),
    .mainCard table td:nth-child(6) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 10px !important;
    }
}

@media (max-width: 560px) {

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 10px !important;
    }

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
    }

    .mainCard table th:nth-child(4),
    .mainCard table td:nth-child(4) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
    }

    .mainCard table th:nth-child(6),
    .mainCard table td:nth-child(6) {
        width: 50%;
        min-width: 50%;
        max-width: 50%;
        display: none;
    }

    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
    }
}

@media (max-width: 460px) {

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 10px !important;
    }

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .mainCard table th:nth-child(2),
    .mainCard table td:nth-child(2) {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
    }

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .mainCard table th:nth-child(4),
    .mainCard table td:nth-child(4) {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
    }

    .mainCard table th:nth-child(6),
    .mainCard table td:nth-child(6) {
        display: none;
    }

    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
    }
}

@media (max-width: 430px) {

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 40px;
        min-width: 40px;
        max-width: 40px;
    }

    .mainCard table th:nth-child(4),
    .mainCard table td:nth-child(4) {
        width: 20px;
        min-width: 20px;
        max-width: 20px;
    }

    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 20px;
        min-width: 20px;
        max-width: 20px;
    }
}

@media(max-width: 400px) {

    .mainCard table th,
    .mainCard table td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 8px !important;
    }

    .mainCard table th:nth-child(1),
    .mainCard table td:nth-child(1) {
        width: 20px;
        min-width: 20px;
        max-width: 20px;
    }

    .mainCard table th:nth-child(2),
    .mainCard table td:nth-child(2) {
        width: 10px;
        min-width: 10px;
        max-width: 10px;
    }

    .mainCard table th:nth-child(3),
    .mainCard table td:nth-child(3) {
        width: 10px;
        min-width: 10px;
        max-width: 10px;
    }

    .mainCard table th:nth-child(4),
    .mainCard table td:nth-child(4) {
        width: 10px;
        min-width: 10px;
        max-width: 10px;
    }

    .mainCard table th:nth-child(7),
    .mainCard table td:nth-child(7) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
}