.mainAppoint {
    margin: auto;
    min-width: 1355px;
    max-width: 1355px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.mainCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
    padding: 20px;
    overflow: hidden;
    position: relative;
    /* box-shadow:0 10px 40px rgba(0,0,0,0.08); */
}

.table-controls {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}



.table-controls input {
    cursor: text;
}

.table-controls select {
    cursor: pointer;
}

.table-controls button {
    background: #760000;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .1s all ease-in-out;
    padding: 0 5px;
    /* height: 20px; */
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border: none;
    outline: none;
}

.table-controls button:hover {
    background: #760000;
    transform: scale(.98);
}


.report-controls {
    display: flex;
    gap: 5px;
    justify-content: right;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.report-controls #customerCount {
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(142, 142, 142);
}

.report-controls a {
    height: 30px;
    width: 30px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    /* background: rgb(246, 246, 246); */
}

.report-controls a:hover {
    background: rgb(230, 230, 230);
    transform: scale(.90);
}

.report-controls a img {
    height: 100%;
    width: 100%;
}

.mainCard table {
    width: 100%;
    height: 25px;
    border-collapse: collapse;
}


.mainCard table th,
.mainCard table td {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.mainCard table th:nth-child(1),
.mainCard table td:nth-child(1) {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: left;
}

.mainCard table th:nth-child(3),
.mainCard table td:nth-child(3) {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}

.mainCard table th:nth-child(4),
.mainCard table td:nth-child(4) {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}

.mainCard table th:nth-child(6),
.mainCard table td:nth-child(6) {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}

.mainCard table th:nth-child(7),
.mainCard table td:nth-child(7) {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    text-align: center;

}


.mainCard table thead {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 20px;
}


.mainCard table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
    background: #f9f9f9;
}

/* .mainCard table tbody tr:hover {
    background-color: #e6e6e6;
} */

.mainCard table tbody img {
    height: 28px;
    width: 28px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 50%;
    padding: 4px;
    transform: scale(1.0);
}

/* @keyframes zoom{
    0% {
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
} */

.mainCard table tbody img:hover {
    animation: none;
    background: rgb(233, 233, 233);
}

.dt-column-order {
    font-size: 10px;
}

.custom-select.custom-select-sm.form-control.form-control-sm {
    height: 20px;
    width: 51px;
}

#appTable_length {
    float: left !important;
    width: 50% !important;
    height: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}

.dataTables_filter {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.form-control.form-control-sm {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border-radius: 0px !important;
    border: 1px solid gray !important;
    outline: none;
}


#filterStatus {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border-radius: 0px !important;
    border: 1px solid #303641 !important;
    outline: none;
}

.dt-layout-row {
    display: flex !important;
    flex-direction: column;
}

.dt-layout-row {
    display: flex;
    flex-direction: row;
}

.dataTables_info {
    font-size: 12px;
}


.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

li.paginate_button.page-item {
    box-sizing: border-box !important;
    display: inline-block !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    width: 25px;

    line-height: 25px;
    text-align: center;
    padding: 0px 0px 0px 0px !important;
}

li.paginate_button.page-item.next {
    width: 70px;
}

li.paginate_button.page-item.previous {
    width: 70px;
}

.page-link {
    display: block;
    margin-left: -1px;
    color: #760000;
    font-size: 10px;
    padding: 0px;
    margin: 0px 0px 0px 0px !important;
}

a,
a:visited {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}


.paginate_button.page-item:hover {
    background: #eeeeee !important;
}

.paginate_button.page-item.disabled {
    border: 1px solid rgb(236, 236, 236);
}

.paginate_button.page-item.active {
    background-color: #760000 !important;
    border: 1px solid #760000 !important;

}


.paginate_button.page-item.active .page-link {
    color: white;

}

label {
    font-size: 12px !important;
}

.dt-info {
    font-size: 12px;
}