.mainAppoint {
    margin: auto;
    min-width: 1355px;
    max-width: 1355px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.mainCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
    padding: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    min-width: 290px !important;
}

.table-controls {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    height: 40px;
}



.table-controls input {
    cursor: text;
}

.table-controls select {
    cursor: pointer;
}

.table-controls button {
    background: #760000;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .1s all ease-in-out;
    padding: 0 5px;
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border: none;
    outline: none;
}

.table-controls button:hover {
    background: #760000;
    transform: scale(.98);
}


.report-controls {
    display: flex;
    gap: 5px;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
}

.report-controls #customerCount {
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(142, 142, 142);
}

.report-controls a {
    height: 30px;
    width: 30px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    /* background: rgb(246, 246, 246); */
}

.report-controls a:hover {
    background: rgb(245, 245, 245);
    transform: scale(.90);
}

.report-controls a img {
    height: 100%;
    width: 100%;
}


.tableCont {
    /* position: absolute; */
    display: none;
    justify-content: right;
    align-items: center;
    gap: 3px;
    bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

.tableCont p {
    font-size: 10px;
    color: rgb(121, 121, 121);
    width: 100px;
    text-align: center;
}

.tableCont select {
    font-size: 10px;
    outline: none;
    width: auto;
    border: none;
    color: rgb(0, 136, 255);
    padding: 4px 4px 4px 5px;
    border-bottom: 1px solid #ddd;
    appearance: none;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.tableCont #applyBtn {
    height: 23px;
    border-radius: 2px;
    padding: 0 10px;
    background: rgb(0, 136, 255);
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

.tableCont #deleteSelectedBtn{
    height: 23px;
    border-radius: 2px;
    padding: 0 10px;
    background: #760000;
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
}

.tableCont #applyBtn:hover {
    background: rgb(0, 112, 210);
}

.mainCard table {
    width: 100%;
    height: 25px;
    border-collapse: collapse;
}


.mainCard table th,
.mainCard table td {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.mainCard table th:nth-child(1),
.mainCard table td:nth-child(1) {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    text-align: left;
}

.mainCard table th:nth-child(3),
.mainCard table td:nth-child(3) {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}

.mainCard table th:nth-child(4),
.mainCard table td:nth-child(4) {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    text-align: right;
}

.mainCard table th:nth-child(6),
.mainCard table td:nth-child(6) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.mainCard table th:nth-child(7),
.mainCard table td:nth-child(7) {
    width: 130px;
    min-width: 130px;
    max-width: 130px;
    text-align: center;
}


.mainCard table thead {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 20px;
}


.mainCard table tbody tr:nth-child(even) {
    /* background-color: #f7f7f7; */
    background: #fbfbfb;
}

.mainCard table tbody td {
    vertical-align: middle;
}


.mainCard table tbody img {
    height: 28px;
    width: 28px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 50%;
    padding: 4px;

}

.form-control.form-control-sm {
    border: 1px solid #ddd;
    font-size: 10px;
    border-radius: 6px;
    background: transparent;
    padding: 8px;
    /* width: 60px !important; */
}

.actionWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.checkCont{
    width: fit-content;
    display: flex;
    margin-left: auto;
    
}

.checkCont label{
    color: gray;
    cursor: pointer;
    user-select: none;
}

.checkCont input{
    margin-left: 5px;
    cursor: pointer;
}

.checkBox {
    margin-left: 5px;
    cursor: pointer;
}

.mainCard table tbody img:hover {
    animation: none;
    background: rgb(245, 245, 245);
}

.dt-column-order {
    font-size: 10px;
}

.custom-select.custom-select-sm.form-control.form-control-sm {

    /* width: 51px; */
    font-size: 9px;
    background: transparent;
    border: 1px solid #ddd;
    font-size: 10px;
    border-radius: 6px;
    background: transparent;
    padding: 8px;
    transition: 0.2s;
}

#appTable {
    width: 100% !important;
}

#appTable_wrapper #appTable_length {
    overflow: hidden;
    display: flex;
    cursor: pointer;
    width: 100%;
}

#appTable_length select {
    outline: none;
    overflow: visible;
}


#appTable_length select:focus {
    border-color: #303641;
    box-shadow: 0 0 0 2px rgba(48, 54, 65, 0.1);
}

#appTable_filter label {
    display: flex;
    align-items: center;
}


#appTable_wrapper .dataTables_filter {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

#appTable_wrapper .row:first-child {
    width: 100% !important;
    overflow: hidden;
    display: grid !important;
    flex-direction: column !important;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0;
}

#appTable_wrapper .col-sm-12.col-md-6:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
}

#appTable_wrapper .col-sm-12.col-md-6:last-child {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
}


#filterStatus {
    padding: 8px;
    font-size: 10px;
    outline: none;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: 0.2s;
}

#filterStatus:focus {
    border-color: #303641;
    box-shadow: 0 0 0 2px rgba(48, 54, 65, 0.1);
}

.dt-layout-row {
    display: flex !important;
    flex-direction: column;
}

.dt-layout-row {
    display: flex;
    flex-direction: row;
}

.dataTables_info {
    font-size: 12px;
}


.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

li.paginate_button.page-item {
    box-sizing: border-box !important;
    display: inline-block !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    width: 25px;

    line-height: 25px;
    text-align: center;
    padding: 0px 0px 0px 0px !important;
}

li.paginate_button.page-item.next {
    width: 70px;
}

li.paginate_button.page-item.previous {
    width: 70px;
}

.page-link {
    display: block;
    margin-left: -1px;
    color: #760000;
    font-size: 10px;
    padding: 0px;
    margin: 0px 0px 0px 0px !important;
}

a,
a:visited {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: 0;
}


.paginate_button.page-item:hover {
    background: #eeeeee !important;
}

.paginate_button.page-item.disabled {
    border: 1px solid rgb(236, 236, 236);
}

.paginate_button.page-item.active {
    background-color: #760000 !important;
    border: 1px solid #760000 !important;

}


.paginate_button.page-item.active .page-link {
    color: white;

}

label {
    font-size: 12px !important;
}

.dt-info {
    font-size: 12px;
}