.mainAppoint {
    margin: auto;
    min-width: 1100px;
    max-width: 1100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.mainCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
    padding: 10px;
    /* border-radius: 10px; */
    overflow: hidden;
    position: relative;
    /* overflow-x: scroll; */
}

.table-controls {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.table-controls #customerCount {
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(142, 142, 142);
    position: absolute;
    right: 0;
}

.table-controls input {
    cursor: text;
}

.table-controls select {
    cursor: pointer;
}

.table-controls button {
    background: #760000;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .1s all ease-in-out;
    padding: 0 5px;
    /* height: 20px; */
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border: none;
    outline: none;
}

.table-controls button:hover {
    background: #760000;
    transform: scale(.98);
}

.mainCard table {
    width: 100%;
    height: 25px;
    border-collapse: collapse;
}


.mainCard table th,
.mainCard table td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.mainCard table th:nth-child(6),
.mainCard table td:nth-child(6) {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}

.mainCard table th:nth-child(7),
.mainCard table td:nth-child(7) {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}


.mainCard table thead {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 20px;
}


.mainCard table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.mainCard table tbody tr:hover {
    background-color: #e6e6e6;
}

.mainCard table tbody img {
    height: 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.mainCard table tbody img:hover {
    transform: scale(1.1);
}

.dt-column-order {
    font-size: 10px;
}

.dt-input {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border-radius: 0px !important;
    border: 1px solid gray !important;
    outline: none;
}

#filterStatus {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border-radius: 0px !important;
    border: 1px solid #303641 !important;
    outline: none;
}

.dt-layout-row{
    display: flex !important;
    flex-direction: column;
}

.dt-layout-row{
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: row;
    background: transparent;
    color: white;
}

/* All paging buttons */
nav .dt-paging-button {
    border: 1px solid !important;
    /* border-radius: 20%; */
    text-align: center;
    cursor: text;
    height: 25px;
    width: 25px;
    font-size: 8px;
    color: #760000 !important;
    border-radius: 0px !important;
    margin: .5px !important;
}

/* Hover effect for all buttons */
nav .dt-paging-button:hover {
    color: #760000 !important;
    background: #76000012 !important;
}

.dt-paging-button.disabled{
    color: #760000 !important;
    border: 1px solid #b5b5b5 !important;
}

/* Current page button */
nav .dt-paging-button.current {
    color: inherit !important;
    background: #760000 !important;
    border: 2px solid #760000 !important;
}

label {
    font-size: 12px !important;
}

.dt-info {
    font-size: 12px;
}