.borrowLabel {
    margin-bottom: 20px;
}

.borrow input, .borrow select{
   height: 100%;
   max-height: 50px;
}

.borrowerName {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    justify-content: center;
    width: 400px;
    overflow: hidden;
    scrollbar-color: var(--orange-bg) transparent;
}

#borrower {
    border: none !important;
    background: transparent !important;
    outline: none !important;
}

#suggestBox {
    cursor: pointer;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
    display: flex;
}

#suggestBox a {
    font-size: 12px;
    margin: 2px;
    background: var(--orange-bg);
}


.borrowBtn {
    background: linear-gradient(135deg, #1877f2, #5aa0ff);
    width: 100px;
    border: none;
    border-radius: 7px;
    color: white;
}


.qty {
  font-size: 12px;
  color: #888;
  margin-left: 5px;
}