/* Responsive: Tablets & Phones */
@media (max-width: 1400px) {
    .dashboard-wrapper {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    .stats-grid {
        gap: 10px;
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }

    .stat-card {
        background-color: #fff;
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease;
        width: 100%;
        flex: 1 1 220px;
        cursor: pointer;
        overflow: hidden;
        font-size: 5px;
    }

    .stat-card:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .stat-card:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .stat-card:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .stat-card:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .stat-card:hover {
        transform: translateY(-5px);
    }

    .icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(238, 238, 238);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-size: 1.5rem;
    }

    .chart-container {
        background-color: #fff;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        height: 300px;
        width: 100%;
    }

    .chart-container h3 {
        font-size: 15px;
    }

    .stat-card h3 {
        margin: 0;
        font-size: .99rem;
        color: #555;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1.5rem;
        font-weight: normal;
        color: #555;
    }



    /* For Windows */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.192);
        justify-content: center;
        align-items: center;
    }

    /* Modal content box */
    .modal-content {
        background-color: #fff;
        padding: 20px;
        min-width: 1100px;
        max-width: 1100px;
        width: 1100px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        height: 600px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-color: #303641 transparent;
    }

    #txtLabel {
        margin: 10px 0;
        letter-spacing: 2px;
    }

    #modal-search {
        height: 25px;
        padding: 0 5px;
        font-size: 12px;
        border: 1px solid gray;
        letter-spacing: 2px;
        outline: none;
    }

    #modal-status-filter {
        height: 25px;
        padding: 0 5px;
        font-size: 12px;
        border: 1px solid gray;
        letter-spacing: 2px;
        outline: none;
    }

    .limitCont {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }

    .limitCont p {
        font-size: 10px;
        color: rgb(0, 0, 0);
        margin-left: 5px;
        letter-spacing: 2px;
    }

    #modal-limit {
        height: 20px;
        padding: 0 5px;
        font-size: 10px;
        border: 1px solid gray;
        outline: none;
    }

    #modal-pagination {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 10px;
    }

    #modal-pagination button {
        font-size: 10px;
        width: 50px;
        height: 20px;
        cursor: pointer;
        color: white;
        background: #760000;
        border: none;
    }

    #modal-page-info {
        font-size: 10px;
        margin: 0 10px;
    }


    /* Close button */
    #close-modal {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
    }





    /* Recent Appointments Table */
    .recent-activity {
        background-color: #fff;
        padding: 20px;
        width: 100%;
    }



    .recent-activity table {
        width: 100%;
        border-collapse: collapse;
    }

    .recent-activity th,
    .recent-activity td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .recent-activity th {
        background-color: #f4f4f4;
    }
}

@media(max-width: 1150px) {

    /* Modal content box */
    .modal-content {
        background-color: #fff;
        padding: 20px;
        min-width: 90%;
        max-width: 90%;
        width: 90%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        height: 600px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-color: #303641 transparent;
    }
}

@media(max-width: 900px) {

    .stat-card h3 {
        margin: 0;
        font-size: .60rem;
        color: #555;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: .9rem;
        font-weight: normal;
        color: #555;
    }

    .dt-length-0 {
        width: 50px !important;
    }

    #dt-search-0 {
        height: 20px !important;
        width: 80px !important;
    }

    label[for="dt-length-0"] {
        font-size: 10px !important;
        text-wrap: wrap;
    }

    .dt-info {
        font-size: 8px !important;
    }
}

@media(max-width: 820px) {
    .stat-card h3 {
        margin: 0;
        font-size: 1rem;
        color: #555;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1.2rem;
        font-weight: normal;
        color: #555;
    }
}

@media(max-width: 768px) {
    .stat-card h3 {
        margin: 0;
        font-size: 1rem;
        color: #555;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1.5rem;
        font-weight: normal;
        color: #555;
    }
}

@media(max-width: 540px) {
    .stat-card h3 {
        margin: 0;
        font-size: .59rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1.4rem;
        font-weight: normal;
        color: #555;
    }
}

@media(max-width: 520px) {

    #recentTable th,
    #recentTable td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 10px;
    }

    #recentTable th:nth-child(1),
    #recentTable td:nth-child(1) {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
        text-align: left;
    }

    #recentTable th:nth-child(2),
    #recentTable td:nth-child(2) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        text-align: left;
    }

    #recentTable th:nth-child(3),
    #recentTable td:nth-child(3) {
        width: 130px;
        min-width: 130px;
        max-width: 130px;
        text-align: right;
    }
}

@media(max-width: 440px) {
    .stat-card h3 {
        margin: 0;
        font-size: .57rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1.2rem;
        font-weight: normal;
        color: #555;
    }

    .dt-length-0 {
        width: 50px !important;
    }

    #dt-search-0 {
        height: 20px !important;
        width: 80px !important;
    }

    label[for="dt-length-0"] {
        font-size: 10px !important;
        text-wrap: wrap;
    }

    #recentTable th:nth-child(1),
    #recentTable td:nth-child(1) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        text-align: left;
    }
}

@media(max-width: 414px) {
    .stat-card h3 {
        margin: 0;
        font-size: .46rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1rem;
        font-weight: normal;
        color: #555;
    }
}

@media (max-width: 400px) {

    #recentTable th,
    #recentTable td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 8px;
    }

    #recentTable th:nth-child(1),
    #recentTable td:nth-child(1) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        text-align: left;
    }
}

@media(max-width: 390px) {
    .stat-card h3 {
        margin: 0;
        font-size: .40rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1.1rem;
        font-weight: normal;
        color: #555;
    }
}

@media(max-width: 380px) {

    #recentTable th,
    #recentTable td {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        font-size: 6px;
    }

    #recentTable th:nth-child(1),
    #recentTable td:nth-child(1) {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
        text-align: left;
    }

    #recentTable th:nth-child(2),
    #recentTable td:nth-child(2) {
        width: 30px;
        min-width: 30px;
        max-width: 30px;
        text-align: left;
    }
}

@media(max-width: 375px) {
    .stat-card h3 {
        margin: 0;
        font-size: .33rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1rem;
        font-weight: normal;
        color: #555;
    }

    .dt-length-0 {
        width: 50px !important;
    }

    #dt-search-0 {
        height: 20px !important;
        width: 80px !important;
    }

    label[for="dt-length-0"] {
        font-size: 10px !important;
        text-wrap: wrap;
    }
}

@media(max-width: 360px) {
    .stat-card h3 {
        margin: 0;
        font-size: .28rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1rem;
        font-weight: normal;
        color: #555;
    }
}

@media(max-width: 350px) {
    .stat-card h3 {
        margin: 0;
        font-size: .20rem;
        color: black;
    }

    .stat-card p {
        margin: 5px 0 0 0;
        font-size: 1rem;
        font-weight: normal;
        color: #555;
    }
}