.dashboard-wrapper {
    width: 100%;
    margin: auto;
    min-width: 1100px;
    max-width: 1100px;
    position: relative;
    display: none;
}

.title {
    text-align: left;
    letter-spacing: 2px;
}

.title-p {
    margin-bottom: 20px;
    color: rgb(42, 42, 42);
    font-size: 12px;
    letter-spacing: 2px;
}

.stats-grid {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.stat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    width: 100%;
    flex: 1 1 220px;
    /* flexible card width */
    cursor: pointer;
    overflow: hidden;
}

.stat-card:active {
    background: transparent;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* key! prevents shrinking */
    font-size: 1.5rem;
}

.stat-card h3 {
    margin: 0;
    font-size: 0.8rem;
    color: #555;
}

.stat-card p {
    margin: 5px 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Chart */
.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: 350px;
}

.chart-container h3{
    font-size: 20px;
}

#appointmentsChart {
    overflow: hidden;
    margin-bottom: 50px;
}

.chart-filters {
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

.chart-filters p {
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-right: 8px;
}

.chart-filters select {
    margin: 0 2px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid gray;
    font-size: 10px;

}

/* Recent Appointments Table */
.recent-activity {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recent-activity table {
    width: 100%;
    border-collapse: collapse;
}

.recent-activity th,
.recent-activity td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.recent-activity th {
    background-color: #f4f4f4;
}



/* For Windows */
.modal {
    display: none;
    position: fixed;
    z-index: 1005;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal content box */
.modal-content {
    background-color: #fff;
    padding: 20px;
    min-width: 500px;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 600px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: #303641 transparent;
}

#txtLabel {
    margin: 10px 0;
    letter-spacing: 2px;
}

#modal-search {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border: 1px solid gray;
    letter-spacing: 2px;
    outline: none;
}

#modal-status-filter {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border: 1px solid gray;
    letter-spacing: 2px;
    outline: none;
    width: auto;
}

.limitCont {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.limitCont p {
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    letter-spacing: 2px;
}

#modal-limit {
    height: 20px;
    padding: 0 5px;
    font-size: 10px;
    border: 1px solid gray;
    outline: none;
}

#modal-pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0;
}

#modal-pagination button {
    font-size: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: white;
    background: #760000;
    border: none;
}

#modal-page-info {
    font-size: 10px;
    margin: 0 10px;
}


/* Close button */
#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.noData {
    font-size: 12px;
}

.table th,
.table td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table thead {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.table tbody tr:hover {
    background-color: #e6e6e6;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pagination-controls button {
    font-size: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: white;
    background: #303641;
    border: none;
}

.pagination-controls #pageInfo {
    font-size: 10px;
    margin: 0 10px;
}


/* For Recent Appointment */
.limit {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.limit p {
    font-size: 12px;
    color: rgb(92, 92, 92);
}

.limit select {
    margin-left: 8px;
    font-size: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid gray;
}

.limit input {
    margin-left: 4px;
    font-size: 10px;
    width: 150px;
    height: 20px;
    cursor: text;
    outline: none;
    border: 1px solid gray;
    padding: 0 5px;
    letter-spacing: 1px;
}

.limit input::placeholder {
    color: rgb(78, 78, 78);
}

.status {
    letter-spacing: 1px;
}

.status.pending {
    color: rgb(255, 255, 255);
    background: #303641;
    padding: 3px 5px;
}

.status.confirmed {
    color: rgb(255, 255, 255);
    background: #ffbb00;
    padding: 3px 5px;
}

.status.completed {
    color: rgb(255, 255, 255);
    background: #760000ff;
    padding: 3px 5px;
}

td {
    font-size: 12px;
}