.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 250px;
  /* grow | shrink | base width */

  padding: 25px;
  border-radius: 12px;
  color: #fff;
  position: relative;
  overflow: hidden;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.096);
}

.cardLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardLabel i {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.247);
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.card>.cardLabel i {
  color: var(--fb-bg);
  border: 2px solid var(--fb-bg);
}

.card h3 {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 10px;
}

.card p {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 40px;
}

.card.blue {
  background: white;
  color: var(--fb-bg);
}

.card.light {
  background: white;
  color: var(--fb-bg);
}

.card.orange {
  background: white;
  color: var(--fb-bg);
}

.card.purple {
  background: white;
  color: var(--fb-bg);
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.08);
  transform: rotate(25deg);
  pointer-events: none;
}


.centView {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(400px, 1fr);
  gap: 20px;
  margin-top: 20px;
}




.alerts-container {
  background: #fff;
  padding: 15px;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.alerts-container h3 {
  margin-bottom: 10px;
  color: #c0392b;
}

#alerts {
  overflow: auto;
  scrollbar-width: thin !important;
  scrollbar-color: #c0392b transparent;
  height: calc(100% - 30px);
}

.alert {
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}

.alert span {
  font-weight: bold;
}

.alert.red {
  background: #ffe5e5;
  color: #c0392b;
}

.alert.yellow {
  background: #fff8e1;
  color: #d68910;
}

.alertNumber {
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #c0392b;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  margin-right: 5px;
  flex-shrink: 0;

  animation: zinout 1s ease-in-out infinite;
}

@keyframes zinout {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.reminder-container {
  background: #fff;
  padding: 15px;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.reminder-container h3 {
  margin-bottom: 10px;
  color: var(--orange-bg);
}

#reminderList {
  overflow: auto;
  scrollbar-width: thin !important;
  scrollbar-color: var(--orange-bg) transparent;
  height: calc(100% - 30px);
}

.urgent {
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.11);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}

.urgent button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: none;
  background: var(--fb-bg);
  color: white;
  transition: all .1s ease-in-out;
}

.urgent button:hover {
  transform: scale(.9);
}

.borrower-container {
  background: white;
  padding: 15px;
  width: 100%;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.borrower-container h3 {
  color: var(--fb-bg);
  margin-bottom: 15px;
}

.borrower-container #addBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: var(--fb-bg);
  color: white;
  font-size: 18px;
  transition: .2s ease;
  z-index: 5;
}

.borrower-container #addBtn:hover {
  transform: scale(1.05);
}

.topborrower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* DATATABLE WRAPPER */
#borrowerTableUI_wrapper {
  margin-top: 10px;
}

/* SEARCH INPUT */
#borrowerTableUI_filter input {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 10px;
  outline: none;
  margin-left: 5px;
}

/* SHOW ENTRIES */
#borrowerTableUI_length select {
  border-radius: 6px;
  padding: 4px;
}

/* TABLE */
#borrowerTableUI {
  width: 100% !important;
  border-collapse: collapse;
}

/* TABLE HEADER */
#borrowerTableUI thead th {
  background: #ffffff;
  color: #333;
  font-size: 13px;
  /* padding: 12px; */
  border-bottom: 1px solid #eee;
}

#borrowerTableUI thead th:first-child {
  width: 0px;
}

/* TABLE BODY */
#borrowerTableUI tbody td {
  padding: 5px;
  vertical-align: middle;
  font-size: 12px;
}

/* ROW HOVER */
#borrowerTableUI tbody tr:hover {
  /* background: #fafafa; */
}

/* PROFILE IMAGE */
.tableProfile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #eee;
}

/* CHECKBOX */
.borrower-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}


/* .dataTables_paginate .paginate_button {
  border-radius: 8px !important;
  margin: 0 2px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: var(--fb-bg) !important;
  color: white !important;
  border: none !important;
} */



.actionWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.actionBtn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.actionBtn:hover {
  background: #f1f1f1;
}

.popoverMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  width: 140px;
  display: none;
  overflow: hidden;
  z-index: 999;
}

.popoverMenu.show {
  display: block;
}

.popoverMenu button {
  width: 100%;
  border: none;
  background: white;
  padding: 12px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.popoverMenu button:hover {
  background: #f5f5f5;
}

.popoverMenu button.delete {
  color: red;
}

.tableProfile {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}





.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.616);
  /* backdrop-filter: blur(4px); */
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

.modalContent {
  background: white;
  padding: 20px 0;
  border-radius: 10px;
  width: 500px;
  z-index: 40000;
  text-align: center;
}

.inputBox {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inputBox i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 14px;
}

.inputBox input {
  width: 100%;
  padding: 12px 12px 12px 38px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.modalContent input:focus {
  border-color: var(--fb-bg);
}

.modalContent button {
  background: linear-gradient(135deg, #3498db, #4da8e5);
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 5px auto;
  width: 90%;
  color: white;
  cursor: pointer;
}

.modalContent button:hover {
  background: var(--fb-hover-bg);
}

.saveBtn,
.cancelBtn {
  gap: 10px;
}

.profileBox {
  position: relative;
  width: 100%;
  height: 180px;
  margin: 10px auto;
  overflow: hidden;
  cursor: pointer;
}

.profileBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileBox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  opacity: 0;
  transition: 0.3s;
}

.profileBox:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  opacity: 1;
}

.topborrower {
  display: flex;
  align-items: center;
}

.topborrower h3 {
  margin-bottom: 0px;
  margin-right: 10px;
}

.borrower-container #addBtn:hover {
  transform: scale(1.08);
}

#borrower-list {
  overflow: auto;
  scrollbar-width: thin !important;
  height: calc(100% - 20px);
}

.emptyBorrower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 20px;
  text-align: center;
  color: #777;
}

.emptyBorrower i {
  font-size: 45px;
  margin-bottom: 12px;
  opacity: 0.7;
}

.emptyBorrower h4 {
  margin-bottom: 6px;
  font-size: 18px;
}

.emptyBorrower p {
  font-size: 13px;
  max-width: 250px;
  line-height: 1.5;
}

.blist {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}

#borrower-actions {
  position: absolute;
  top: 10px;
  right: 45px;
}

.borrower-checkbox {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: var(--orange-bg);
}

.blist img {
  height: 40px;
  width: 40px;
  background: rgb(236, 236, 236);
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--fb-bg);
}

.borrower-item {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.bname {
  letter-spacing: 1px;
  font-size: 14px;
}

.bcontact {
  color: gray;
  font-size: 12px;
}

.bcreatedat {
  font-size: 12px;
  position: absolute;
  right: 10px;
  bottom: 4px;
}


.table-container {
  border-radius: 12px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

/* TITLE */
.table-container h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #1c1e21;
}

/* TABLE BASE */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 10px;
}

table th {
  padding: 12px;
  text-align: left;
  font-weight: 600;
}

/* ROWS */
table td {
  /* padding: 12px; */
  color: #1c1e21;
}

/* HOVER EFFECT */
table tbody tr:hover {
  background: #f5f9ff;
  transition: 0.2s;
}

/* STATUS BADGES */
.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
}

.status.borrowed {
  background: #fff3e0;
  color: #e67e22;
}

.status.returned {
  background: #3498db30;
  color: var(--fb-bg);
}

.void {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  background: var(--orange-bg);
  color: white;
  cursor: pointer;
}

.void:hover {
  background: var(--orange-hover-bg);
}

/* DATATABLE SEARCH BOX */
.dataTables_filter input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

.dataTables_filter input:focus {
  border-color: var(--fb-bg);
}

/* PAGINATION */
.dataTables_paginate {
  margin-top: 10px;
}

.dataTables_paginate a {
  padding: 5px 10px;
  margin: 2px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: var(--fb-bg);
  cursor: pointer;
}

.dataTables_paginate a.current {
  background: var(--fb-bg);
  color: white !important;
  border: none;
}