.dashboard-wrapper {
    width: 100%;
    margin: auto;
    min-width: 1355px;
    max-width: 1355px;
    position: relative;
    display: none;
}



.stats-grid {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    z-index: 1000px;
    text-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    min-width: 290px !important;
}

.stat-card {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    transition: transform 0.2s ease;
    width: 100%;
    flex: 1 1 220px;
    cursor: pointer;
    overflow: hidden;
}

.stat-card:active {
    background: transparent;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.5rem;
    box-shadow: 2px 0px 2px rgba(48, 54, 65, 0.1);
    border: 2px solid white;
}

.total-customer .icon i {
    color: #4CAF50;
}

.total-appointments .icon i {
    color: #2196F3;
}

.upcoming-today .icon i {
    color: #FF9800;
}

.pending-approval .icon i {
    color: #F44336;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.stat-card .icon i {
    animation: pulse 2s infinite;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.stat-card h3 {
    margin: 0;
    font-size: 0.8rem;
    color: #2f2f2f;
    font-weight: normal;
    letter-spacing: 1px;
}

.stat-card p {
    margin: 5px 0 0 0;
    font-size: 1.7rem;
    font-weight: normal;
    color: #555;
}

/* Chart */
.chart-container {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 400px;
    border-radius: 10px;
    min-width: 290px !important;
}

.chart-container #chartLabel {
    font-size: 15px;
    font-weight: normal;
}

.labAndBut {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labAndBut #cType {
    height: 25px;
    width: 25px;
    cursor: pointer;
    padding: 5px;
    transition: .1s ease-in;
    border-radius: 50%;
}

.labAndBut #cType:hover {
    background: rgb(245, 245, 245);
}

#appointmentsChart {
    overflow: hidden;
    margin-bottom: 80px;
    width: 100% !important;
}

.chart-filters {
    display: flex;
    align-items: center;
    outline: none;
    margin-top: 10px;
    width: auto;
}

.chart-filters p {
    font-size: 12px;
    color: rgb(92, 92, 92);
    margin-right: 8px;
    padding: 2px;
}

.chart-filters select {
    margin: 0 2px;
    cursor: pointer;
    outline: none;
    border: 1px solid #ddd;
    font-size: 10px;
    border-radius: 6px;
    background: transparent;
    padding: 8px;
    transition: 0.2s;
}


.chart-filters select:focus {
    border-color: #303641;
    box-shadow: 0 0 0 2px rgba(48, 54, 65, 0.1);
}

/* Recent Appointments Table */
.recent-activity {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    min-width: 290px !important;
}

.recent-activity #recentApp {
    font-weight: normal;
    font-size: 15px;
}

.form-control.form-control-sm {
    border: 1px solid #ddd;
    font-size: 10px;
    border-radius: 6px;
    background: transparent;
    padding: 8px;
}

.form-control.form-control-sm:focus {
    border-color: #303641;
    box-shadow: 0 0 0 2px rgba(48, 54, 65, 0.1);
}


#recentTable_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#recentTable_wrapper .row:first-child {
    width: 100% !important;
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px 0;
}


#recentTable_wrapper .col-sm-12.col-md-6:first-child {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#recentTable_wrapper .col-sm-12.col-md-6:last-child {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
}


#recentTable_length select {
    outline: none;
    transition: 0.2s;
    width: 60px;
}

#recentTable_length select:focus {
    border-color: #303641;
    box-shadow: 0 0 0 2px rgba(48, 54, 65, 0.1);
}


#recentTable_filter label {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    float: right;
}


#recentTable_filter input {
    min-width: 100px;
}

.dataTables_wrapper .dataTables_filter {
    margin-top: unset !important;
}

.recent-activity table {
    width: 100%;
    border-collapse: collapse;
}

.recent-activity th,
.recent-activity td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background: white;
}

#recentTable th {
    background: white;
}


#void {
    background: #a10000;
    padding: 3px 6px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

#void:hover {
    transition: none;
    background: rgb(218, 0, 0);
}

/* For Windows */
.modal {
    display: none;
    position: fixed;
    z-index: 200009;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.192);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Modal content box */
.modal-content {
    background-color: #fff;
    /* padding: 50px; */
    min-width: 1100px;
    max-width: 1100px;
    width: 1100px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-height: 500px;
    min-height: 400px;
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: scroll !important;
}

.modal-content::before {
  content: "";
  position: sticky;
  top: 0;
  display: block;
  height: 50px;
  background: linear-gradient(to bottom, white, transparent);
  pointer-events: none;
}

/* Bottom fade */
.modal-content::after {
  content: "";
  position: sticky;
  bottom: 0;
  display: block;
  height: 50px;
  background: linear-gradient(to top, white, transparent);
  pointer-events: none;
}

.modalControls{
    display: flex;
    flex-direction: column;
    margin: 40px;
}


#txtLabel {
    margin: 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
}

#modal-search {
    height: 25px;
    padding: 0 5px;
    font-size: 12px;
    border: 1px solid gray;
    letter-spacing: 2px;
    outline: none;
    width: 300px;
}

#modal-status-filter {
    height: 25px;
    padding: 0 5px;
    font-size: 10px;
    border: 1px solid gray;
    letter-spacing: 2px;
    outline: none;
    width: auto;
}

.limitCont {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.limitCont p {
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    letter-spacing: 2px;
}

#modal-limit {
    height: 20px;
    padding: 0 5px;
    font-size: 10px;
    border: 1px solid gray;
    outline: none;
}

.counter {
    font-size: 110px;
    font-weight: bold;
    text-align: center;
    background: url('../../graphics/bg.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-variant-numeric: tabular-nums;
}

.centContainerModal {
    display: grid;
    margin: 40px;
}

#modal-pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0;
}

#modal-pagination button {
    font-size: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: white;
    background: #760000;
    border: none;
}

#modal-page-info {
    font-size: 10px;
    margin: 0 10px;
}


/* Close button */
#close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.noData {
    font-size: 12px;
}

.table th,
.table td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    letter-spacing: 1px;
}

#recentTable th:nth-child(4),
#recentTable td:nth-child(4) {
    text-align: right;
}

.table thead {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.table tbody tr:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.pagination-controls button {
    font-size: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    color: white;
    background: #303641;
    border: none;
}

.pagination-controls #pageInfo {
    font-size: 10px;
    margin: 0 10px;
}


/* For Recent Appointment */
.limit {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.limit p {
    font-size: 12px;
    color: rgb(92, 92, 92);
}

.limit select {
    margin-left: 8px;
    font-size: 10px;
    width: 50px;
    height: 20px;
    cursor: pointer;
    outline: none;
    border: 1px solid gray;
}

.limit input {
    margin-left: 4px;
    font-size: 10px;
    width: 150px;
    height: 20px;
    cursor: text;
    outline: none;
    border: 1px solid gray;
    padding: 0 5px;
    letter-spacing: 1px;
}

.limit input::placeholder {
    color: rgb(78, 78, 78);
}

.status {
    letter-spacing: 1px;
}

.status.pending {
    color: rgb(255, 255, 255);
    background: #303641;
    padding: 3px 5px;
}

.status.confirmed {
    color: rgb(255, 255, 255);
    background: #ffbb00;
    padding: 3px 5px;
}

.status.completed {
    color: rgb(17, 17, 17);
    background: #ffbb0029;
    padding: 3px 5px;
    border-radius: 5px;
}

td {
    font-size: 12px;
}