.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modalContent {
  width: 100%;
  max-width: 500px;

  background: white;
  border-radius: 15px;

  padding: 20px;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 15px;
}

.inputGroup label {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}