.mainSettings {
  width: 100%;
  margin: auto;
  min-width: 1355px;
  max-width: 1355px;
  position: relative;
  /* display: none; */
}

.settings-container {
  margin: auto;
  width: 100%;
  margin-top: 50px;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

/* LEFT MENU */
.settings-menu {
  display: flex;
  background: #ffffff;
  color: rgb(0, 0, 0);
  height: 30px;
  position: absolute;
  top: -30px;
  overflow: hidden;
}

.settings-menu ul {
  list-style: none;
  display: flex;

}

.settings-menu a {
  cursor: pointer;
  height: 30px;
  overflow: hidden;
  padding: 5px 10px;
  transition: 0.1s ease;
  font-size: 12px;
  letter-spacing: 1px;
  display: flex;
  color: white;
  background: #303641;
  align-items: center;
  justify-content: center;
}

.settings-menu a:not(.active):hover {
  background: #48505f;
  color: #ffffff;
}

.settings-menu .active {
  background: white;
  color: #3b4352;
}

/* RIGHT CONTENT */
.settings-content {
  padding: 40px;
  overflow: hidden;
  width: 100%;
  /* border: 1px solid gray; */
}

.section-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.card {
  /* background: #fafafa; */
  padding: 25px;
  margin-bottom: 20px;
  border: 1px dashed #eee;
  height: auto;
  overflow: hidden;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #555;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: .2s;
}

.form-group input:focus {
  border-color: #760000;
}

.save-btn {
  margin-top: 10px;
  background: #760000;
  color: white;
  border: none;
  cursor: pointer;
  transition: .25s;
  padding: 10px 10px;
  height: auto;
}

.save-btn:hover {
  background: #760000;
}

/* Toggle Switch */
.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.switch {
  width: 45px;
  height: 24px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: .25s;
}

.switch::after {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: 50%;
  transition: .25s;
}

.switch.active {
  background: #303641;
}

.switch.active::after {
  left: 23px;
}

/* RESPONSIVE */
@media(max-width:900px) {
  .settings-container {
    grid-template-columns: 1fr;
  }

  .settings-menu {
    display: flex;
    overflow: auto;
  }

  .settings-menu ul {
    display: flex;
    width: max-content;
  }

  .settings-menu li {
    white-space: nowrap;
  }
}