* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    scrollbar-width: thin;
    scrollbar-color: #303641 rgb(243, 243, 243);
    --main-bg: #303641;
    --card-bg: #303641;
    --card-border-bg: #485161;
    --text-color: white;
}

body {
    background: rgb(243, 243, 243);
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.title {
    text-align: left;
    letter-spacing: 2px;
}

.title-p {
    margin-bottom: 20px;
    color: rgb(42, 42, 42);
    font-size: 12px;
    letter-spacing: 2px;
}

.container {
    display: flex;
    width: 100%;
    position: relative;
    /* height: 100vh; */
    height: 50vh; 
}

/* Toggle button */
#nav-toggle {
    position: absolute;
    z-index: 1000;
    background: #303641;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    border-radius: 50%;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #485161;
}


/* Hide sidebar */
.nav-hidden #sidebar {
    transform: translateX(-100%);
}

.nav-hidden>#nav-toggle {

    color: #303641;
}

#nav-toggle:hover {
    background: #303641;
    color: white;
}

.gospel {
    position: fixed;
    right: 30px;
    top: 94.5px;
    background: #ffffff;
    min-height: 300px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1002;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;

    overflow: hidden; 
}

.gospel::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 50%;
    height: 200%;

    background: linear-gradient(
        120deg,
        transparent 0%,
        rgba(255, 255, 255, 0.6) 100%,
        transparent 100%
    );

    transform: rotate(25deg);
    animation: shine 5.5s infinite;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

.gospel #g-title {
    width: 100%;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 10px;
}

.gospel p {
    color: rgb(69, 69, 69);
    font-size: 12px;
    letter-spacing: 1px;
    text-align: justify;
}


#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #303641;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 900000;
    border-right: 1px solid #485161;
    transition: all 0.3s ease-in-out;
}

#sidebar {
    /* overflow-y: auto; */
    overscroll-behavior: contain;
}

#sidebar h2 {
    font-size: 17px;
    width: 100%;
    /* font-weight: bold; */
    color: #dc3545 !important;
    text-wrap: nowrap;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #485161;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
}

#sidebar h2:hover {
    color: #ffa600d0 !important;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 190px;
}

.account {
    display: none;
}

#sidebar i {
    margin-right: 5px;
}

#sidebar a {
    height: 40px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

#sidebar li {
    overflow: hidden;
    border-radius: 6px;
    margin: 2px 0;
}

#sidebar li:hover {
    background: #373e4a;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
}

.logout {
    position: absolute;
    bottom: 10px;
    width: 190px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.logout:hover {
    transform: scale(1.02);
    color: #ff1d1d;
    background: #2b3039;
}

#main-content {
    flex-grow: 1;
    padding: 20px !important;
    min-width: 300px;
    background-position: center;
    flex-grow: 1;
    padding: 20px !important;
    height: 100%;
    min-height: 100dvh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    /* allow refresh */
    overscroll-behavior-y: auto;
}

input.form-control.form-control-sm {
    height: 100%;
    padding: 9px;
}

/* For Loading */
#dashboard-loading,
#loading {
    inset: 0;
    width: 100%;
    margin: auto;
    min-width: 1000px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}

#dashboard-loading p,
#loading p {
    font-size: 12px;
    letter-spacing: 2px;
    color: #555;
    margin-left: 10px;
}

/* Spinner */
.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-top-color: #760000ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Modal for messageWarning */
.msgBox {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.192);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
}

#msgSuccess {
    position: fixed;
    bottom: 10px;
    right: 10px;
    transform: scale(0.8);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background: #ffffff;
    color: rgb(44, 44, 44);
    padding: 15px 25px;
    width: 300px;
    z-index: 9999;
    transition: all 0.3s ease;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.115);
}

#msgSuccess #successTitle {
    text-align: left;
    width: 100%;
}

#msgSuccess.show {
    transform: scale(0.9);
    opacity: 1;
    pointer-events: auto;
}

#msgSuccess p {
    text-align: left;
    font-size: 12px;
    width: 100%;
}

.msgContent {
    background: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}


#msgBtns {
    margin-top: 15px;
}

#msgBtns button {
    padding: 6px 12px;
    margin: 3px;
    cursor: pointer;
    font-size: 12px;
    height: auto;
}