@font-face {
  font-family: "Century Gothic";
  src: url("/fonts/centurygothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --fb-bg: #1877f2;
  --fb-hover-bg: #1468d6;
  --table-bg: #e4e4e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Century Gothic';
}

body {
  margin: 0;
  background: #f0f0f0;
  position: relative;
  height: auto;
  overflow-y: auto;
}



/* TOPBAR */
.topbar {
  background: var(--fb-bg);
  color: white;
  height: 40px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBtn {
  cursor: pointer;
}

.logoutBtn {
  background: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--fb-bg);
  font-size: 12px;
  transition: .1s all ease-in-out;
}

.logoutBtn:hover {
  transform: scale(1.08);
}


/* SIDEBAR */
.sidebar {
  width: 200px;
  background: white;
  padding: 10px;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  z-index: 10000;
  height: calc(100% - 40px);
  transition: .2s all ease-in-out;
}

.sidebar a {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  font-size: 12px;
  background: #f0f2f5;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
  gap: 10px;
  transition: background 0.2s ease;
}

.sidebar i {
  width: 20px;
  text-align: center;
}

.sidebar a.active {
  background: #1877f2;
  color: white;
}

.sidebar a.active i {
  color: #fff;
}

.sidebar a:hover:not(.active) {
  background: #d5dfec;
}

/* CONTENT */
.content {
  padding: 20px;
  margin-left: 200px;
  flex: 1;
  transition: .2s all ease-in-out;
}

/* FORM */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form input,
.form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  flex: 1;
}

.form a {
  background: #1877f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #e4e4e4;
  text-align: left;
  padding: 12px;
}

td {
  padding: 12px;
  border-top: 1px solid #eee;
}

tr:hover {
  background: #f9f9f9;
}

/* BUTTONS */
button.small {
  padding: 6px 10px;
  font-size: 12px;
}