* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #ececec;
    overflow: hidden;
}

:root {
    scrollbar-width: thin;
    scrollbar-color: #303641 transparent;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Toggle button */
#nav-toggle {
    position: absolute;
    top: 50%;
    left: 205px;
    z-index: 1001;
    background: #303641;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 4px solid rgb(234, 234, 234);
    user-select: none;
    outline: none;
}

/* Hide sidebar */
.nav-hidden #sidebar {
    width: 0;
    overflow: hidden;
}

.nav-hidden>#nav-toggle {
    left: 10px;
    background: transparent;
    color: #303641;
}

#nav-toggle:hover{
    background: #303641;
    color: white;
}


#sidebar {
    background: #303641;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    width: 227px;
    position: relative;
    height: 100%;
    flex-shrink: 0;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

#sidebar h2 {
    font-size: 17px;
    /* letter-spacing: 2px; */
    width: 100%;
    font-weight: bold;
    color: #dc3545 !important;
    text-wrap: nowrap;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #485161;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 190px;
}

#sidebar i {
    margin-right: 5px;
}

#sidebar a {
    height: 40px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

#sidebar li:hover {
    background: #373e4a;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
}

#main-content {
    flex-grow: 1;
    overflow: auto;
    padding: 20px !important;
    min-width: 300px;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background: rgb(234, 234, 234);
}

/* For Loading */
#dashboard-loading, #loading {
    inset: 0;
    width: 100%;
    margin: auto;
    min-width: 1000px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}

#dashboard-loading p, #loading p {
    font-size: 12px;
    letter-spacing: 2px;
    color: #555;
    margin-left: 10px;
}

/* Spinner */
.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-top-color: #760000ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



