/* Responsive: Tablets & Phones */
@media (max-width: 1200px) {

    /* Sidebar nav */
    nav {
        background: #303641;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 100%;
        flex-shrink: 0;
        z-index: 1000;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    nav h2 {
        font-size: 12px;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        width: 140px;
    }

    nav i {
        margin-right: 5px;
    }

    nav ul li a {
        font-size: 10px;
    }

    #nav-toggle {
        position: absolute;
        top: 50%;
        left: 227px;
        z-index: 1001;
        background: #303641 !important;
        color: white !important;
        border: none;
        height: 40px;
        width: 15px;
        cursor: pointer;
        font-size: 10px;
        transition: all 0.3s ease-in-out
    }

    .nav-hidden>#nav-toggle {
        left: 0px !important;
    
    }

    /* Main content */
    #main-content {
        flex-grow: 1;
        overflow: auto;
        padding: 12px;
        width: 100%;
        scroll-behavior: smooth;
    }

    .hide-browser-bar {
        height: 100vh;
        overflow: hidden;
    }

    /* html,
    body {
        height: 100%;
    } */

}