* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    background: #ececec;
    /* overflow: hidden; */
}

html,
body {
    height: 100%;
}

:root {
    scrollbar-width: thin;
    scrollbar-color: #303641 transparent;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* Toggle button */
#nav-toggle {
    position: absolute;
    z-index: 1000;
    background: #303641;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    user-select: none;
    border-radius: 50%;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}


/* Hide sidebar */
.nav-hidden #sidebar {
    transform: translateX(-100%);
}

.nav-hidden>#nav-toggle {

    color: #303641;
}

#nav-toggle:hover {
    background: #303641;
    color: white;
}

.profileCont {
    position: absolute;
    right: 20px;
    top: 10px;
    background: #303641;
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    z-index: 1002;
    padding: 10px;
    cursor: pointer;
}

.profileCont img {
    height: 30px;
    width: 30px;
}

.profileCont p {
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 0 5px;
}

.profileCont:hover>p {
    color: rgb(126, 206, 255);
}

#sidebar {
    background: #303641;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    /* width: 227px; */
    width: auto;
    position: fixed;
    height: 100%;
    z-index: 900;
    left: 0;
    top: 0;
    /* overflow: hidden; */
    transition: all 0.3s ease-in-out;
    user-select: none;
}

#sidebar h2 {
    font-size: 17px;
    width: 100%;
    font-weight: bold;
    color: #dc3545 !important;
    text-wrap: nowrap;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #485161;
    cursor: pointer;
}

#sidebar h2:hover {
    color: #c73140 !important;
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    width: 190px;
}

.account {
    display: none;
}

#sidebar i {
    margin-right: 5px;
}

#sidebar a {
    height: 40px;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

#sidebar li {
    overflow: hidden;
}

#sidebar li:hover {
    background: #373e4a;
}

#sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
}

.logout {
    position: absolute;
    bottom: 10px;
    width: 190px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    letter-spacing: 1px;
    transition: all .1s ease-in-out;
}

.logout:hover {
    transform: scale(1.02);
    color: #ff1d1d;
    background: #2b3039;
}

#main-content {
    flex-grow: 1;
    padding: 20px !important;
    min-width: 300px;
    -webkit-overflow-scrolling: touch;
    transition: all 0.3s ease-in-out;
    background-position: center;
    background: rgb(243, 243, 243);
    flex-grow: 1;
    padding: 20px !important;
    min-width: 300px;
    min-height: 100vh;
}

/* For Loading */
#dashboard-loading,
#loading {
    inset: 0;
    width: 100%;
    margin: auto;
    min-width: 1000px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 15px;
}

#dashboard-loading p,
#loading p {
    font-size: 12px;
    letter-spacing: 2px;
    color: #555;
    margin-left: 10px;
}

/* Spinner */
.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-top-color: #760000ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}